{% extends 'shopping/index.html' %}
{% block title %}
    书籍详情
{% endblock %}
{% block content %}
    <h1>书籍详情</h1>
    <img src="{{ book.img.url }}" alt="" width="200">
    <h3>书名：{{ book.name }} | 类别：{{ book.book_class }}</h3>
    <p>简介：{{ book.intro }}</p>
    <h4>价格：{{ book.price }} | 库存：{{ book.store }}</h4>
    <h4>共{{ book.comments }}人评论</h4>

    {% if is_collect %}
        <a href="{% url 'shopping:edit_collect' 'sub' book.id %}">取消收藏</a>
    {% else %}
        <a href="{% url 'shopping:edit_collect' 'add' book.id %}">收藏</a>
    {% endif %}

{% endblock %}