<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}畅意书海{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    {% block style %}

    {% endblock %}
</head>
<body>
<hr>
<nav>
    <a href="{% url 'shopping:index' '全部' %}">首页</a>
    <a href="#">购物车</a>
    <a href="#">个人中心</a>
    {% if request.session.username %}
        用户名：{{ request.session.username }}
        <a href="{% url 'shopping:logout' %}">退出登录</a>
    {% else %}
        <a href="{% url 'shopping:login' %}">登录</a>
    {% endif %}
    <form method="post" class="float-right">
        <input type="text" placeholder="搜索">
        <input type="submit" value="搜索">
    </form>
</nav>
<hr>
{% block content %}
    <h1 class="text-center">首页</h1>
    <hr>
    分类：
    <a href="{% url 'shopping:index' '全部' %}">全部</a>
    {% for book_class in book_class_list %}
        <a href="{% url 'shopping:index' book_class %}">{{ book_class }}</a>
    {% endfor %}
    <hr>
    <table border="1">
        {% for book in book_list %}
            <tr>
                <td><img src="{{ book.img.url }}" alt="" width="150"></td>
                <td>
                    <div class="bold">{{ book.name }}</div>
                    <div style="color: red;">￥{{ book.price }}</div>
                    <div>销量：{{ book.scale }}</div>
                    <div>库存：{{ book.store }}</div>
                    <div>{{ book.comments }}人评论</div>
                </td>
                <td>
                    <div><a href="#">加入购物车</a></div>
                    <div><a href="#">收藏</a></div>
                </td>
            </tr>
        {% endfor %}
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if book_list.has_previous %}
                <a href="?page=1">&laquo; 首页</a>
                <a href="?page={{ book_list.previous_page_number }}">上一页</a>
            {% endif %}

            <span class="current">
                当前：{{ book_list.number }} 页；共：{{ book_list.paginator.num_pages }} 页
            </span>

            {% if book_list.has_next %}
                <a href="?page={{ book_list.next_page_number }}">下一页</a>
                <a href="?page={{ book_list.paginator.num_pages }}">尾页 &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}

{% block script %}

{% endblock %}
</body>
</html>