{% extends 'shopping/index.html' %}
{% block title %}
    搜索_{{ keyword }}
{% endblock %}
{% block content %}
    <h1 class="text-center">搜索</h1>
    <table border="1">
        {% for book in book_list %}
            <tr>
                <td><img src="{{ book.img.url }}" alt="" width="150"></td>
                <td>
                    <div class="bold">{{ book.name }}</div>
                    <div style="color: red;">￥{{ book.price }}</div>
                    <div>销量：{{ book.scale }}</div>
                    <div>库存：{{ book.store }}</div>
                    <div>{{ book.comments }}人评论</div>
                </td>
                <td>
                    <div><a href="javascript:;" class="add_cart" name="{{ book.id }}">加入购物车</a></div>
                    <div><a href="#">收藏</a></div>
                </td>
            </tr>
        {% endfor %}
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if book_list.has_previous %}
                <a href="?page=1">&laquo; 首页</a>
                <a href="?page={{ book_list.previous_page_number }}">上一页</a>
            {% endif %}

            <span class="current">
                当前：{{ book_list.number }} 页；共：{{ book_list.paginator.num_pages }} 页
            </span>

            {% if book_list.has_next %}
                <a href="?page={{ book_list.next_page_number }}">下一页</a>
                <a href="?page={{ book_list.paginator.num_pages }}">尾页 &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(function () {
            $('.add_cart').click(function () {
                let $that = $(this);
                $.get('/shopping/cart/add/' + $that.attr('name'), function (data) {
                    if (data.status === 200){
                        alert('已加入购物车');
                    }
                });
            });
        })
    </script>
{% endblock %}